.Navbar {
  background: #554478;
  padding: 1em 2em;
  color: white;
}

.Navbar a {
  text-decoration: none;
  color: white;
}

.Navbar a:hover {
  color: rgb(111, 190, 255);
}

.Navbar * {
  margin: 0;
}

