.on {
    filter: grayscale(0%);
    transform: rotate(360deg);
    transition: .6s ease-in-out;
}

.off{
    filter: grayscale(100%);
    transform: rotate(-360deg);
    transition: .6s ease-in-out;
}